.btn {
  color: white;
  padding: 6px 10px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  width: 100px;
  height: 50px;
  cursor: pointer;
}

.btn-primary {
  background-color: deepskyblue;
  transition: background-color 0.25s ease;
}
.btn-primary:hover {
  background-color: blue;
}
.btn-danger {
  background-color: red;
  transition: background-color 0.25s ease;
}
.btn-danger:hover {
  background-color: brown;
}
.btn-success {
  background-color: greenyellow;
  transition: background-color 0.25s ease;
}
.btn-success:hover {
  background-color: green;
}
.btn-warning {
  background-color: coral;
  transition: background-color 0.25s ease;
}
.btn-warning:hover {
  background-color: chocolate;
}

.group {
  width: 500px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.title {
  color: brown;
  padding: 20px;
}
