
.form{
    width: 500px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: white;
    margin-top: 20px;
    border-radius: 20px;
    padding: 20px;
    position: relative;
}


.form-primary{
    background-color: bisque;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}
.form-secondary{
    background-color: brown;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}
.form-third{
    background-color: blueviolet;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.wrapper-close{
    position: absolute;
    top: 10px;
    right: 15px;
    display: flex;
    justify-content: end;
    cursor: pointer;
}
.close{
    align-self: end;
    
}
.wrapper-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.line-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 8px;
}
.wrapper-btn{
    width: 100%;
}

.label{
    font-size: 16px;
    font-weight: bold;
}

input{
    flex: 1;    
    padding: 8px;
    border-radius: 5px;
    font-size: 14px;
}
input:hover{
    border-color: blue;
}

.btn{
    background-color: cornflowerblue;
    padding: 6px 10px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}